.invetory{
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: xx-large;
}
.marketplace{
  display: none;
}
.monsterden{
  display: none;
}
* {
  touch-action: manipulation;
  pointer-events: none;
}
#attackchicken{
  display: none;
  visibility: hidden;
}
button{
  pointer-events: auto;
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button:hover{
  background-color: green;
}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

