.achievement-popup {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: none;
  font-size: 20px;
}

.achievement-card {
  display: inline-block;
  background-color: red;
  color: white;
  width: 150px;
  height: 100px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.achievement-card h3,
.achievement-card p {
  margin: 0;
  padding: 0;
}

.achievement-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.achievement-card p {
  font-size: 14px;
  line-height: 1.2;
  height: 45px;
  overflow: hidden;
}

.achievement-status {
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100%;
}

.achievement-card.unlocked {
  background-color: green;
  color: white;
}

#mineCoalBtn {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url("coal.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: transparent;
  cursor: pointer; /* Add cursor property to change the mouse cursor on hover */
}

#mineCoalBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#mineGoldBtn {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url("gold.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: transparent;
  cursor: pointer; /* Add cursor property to change the mouse cursor on hover */
}

#mineGoldBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#mineIronBtn {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url("iron.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: transparent;
  cursor: pointer; /* Add cursor property to change the mouse cursor on hover */
}

#mineIronBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}